<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Brudencar Chatbot">
    <!-- <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API"> -->
    <meta name="author" content="Bruce Lin, Denny Hung, Carson Trinh">
    <title>Brudencar Chatbot</title>
    <!-- <title>Simple AI Demo with Web Speech API</title> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="intro">
			<h1>Hello,</h1>
			<h1>I'm Brudencar.</h1>
			<br>
			<h2>I learn from my conversations, </h2>
			<h2>go ahead and say something!</h2>
		</div>
		<section>
			<button><i class="fa fa-microphone"></i></button>
			<div>
				<br>
    		<p><b>YOU:</b> <em class="output-you"></em></p>
      	<p><b>BDC:</b> <em class="output-bot"></em></p>
    	</div>
  	</section>
  	<footer>
  		<h3>Developers</h3>
  		<row>
  			<div>Bruce Lin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;SJSU</div>
  			<div>Denny Hung<i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;UCB</div>
  			<div>Carson Trinh<i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;UCB</div>
  		</row>
  		<br>
  		Created at CalHacks 4.0 in 48 hours.
  	</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
		<script src="js/script.js"></script>
	</body>
	</html>